<div class="container">
  <div class="card-wrapper">
    <ng-container *ngFor="let item of portfolio">
      <div class="card" #foto (mouseover)="showHiddenDiv()">
        <img [src]="item.sourcePath" alt="">
      </div>
    </ng-container>
  </div>
  <div class="text-wrapper">

    <ng-container *ngFor="let item of portfolio">

      <div class="text" #descricao >

        {{ item.nome | uppercase}}

        <div>
          orçamneto para mais infos
        </div>

      </div>
    </ng-container>
  </div>
</div>


<app-footer></app-footer>
