<div id="servicos" class="cards">
  <ng-container *ngFor="let categoria of categorias" >
    <div class="card" >
      <img [src]="categoria.imgPath" alt="categoria.nome">
      <div class="text" #servico>
        {{ categoria.nome }}
      </div>
      <button class="button" (click)="getServico(servico)">
        <a routerLink="/servicos" >Saber mais</a>
      </button>
    </div>
  </ng-container>

  <div class="card" >

      <div *ngFor="let tipo of tipos">
        <img [src]="tipo.img" alt="tipo.nome">
      </div>

    </div>

</div>




