.container {
    width: 100%;
    height: 200px;
    background-color: #1B4CA1;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;




        //     img {
        //         max-width:20%;
        //         object-fit: cover;
        //         margin: 10px;

        // }

        .logos {

          display: flex;
          width: 50%;

          flex-flow: row;

          @media (max-width: 768px) {
            width: 80%;

        }

        @media (max-width: 350px) {
          width: 50%;
      }
            // background-color: blue;
            a {
              display: flex;
              justify-content: center;

                img {
                  width: 20%;
                  object-fit: cover;

                    @media (max-width: 768px) {
                        width: 20%;
                    }

                    @media (max-width: 350px) {
                        width: 20%;


                    }
                }
            }
        }

        .livro {
          width: 10%;
          margin-left: 15px;
          img {
            width: 50%;
          }
        }

    }


