<div class="container">
    <div class="logos">
        <a href="">
            <img src="../../../assets/img/SocialMedia/SOCIAL MEDIA ICONS-01.svg" alt="" />
        </a>


        <a href="">
            <img src="../../../assets/img/SocialMedia/SOCIAL MEDIA ICONS-02.svg" alt="" /></a>



        <a href="">
            <img src="../../../assets/img/SocialMedia/SOCIAL MEDIA ICONS-03.svg" alt="" /></a>



    <a href="">
        <img src="../../../assets/img/SocialMedia/SOCIAL MEDIA ICONS-04.svg" alt="" /></a>


    <a href="">
    <img src="../../../assets/img/SocialMedia/SOCIAL MEDIA ICONS-05.svg" alt="" /></a>
    </div>
<div class="livro">

  <a href="" target="_blank">
   <img src="../../../assets/img/livro_reclamacao.png" alt="livro de reclamacao" /></a>
</div>


</div>
