.container {
    width: 100%;
    height: auto;
    background-color: #1B4CA1;

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;




        //     img {
        //         max-width:20%;
        //         object-fit: cover;
        //         margin: 10px;

        // }

        .logos {

          display: flex;
          justify-content: center;

          align-items: center;

          flex-flow: row;
          width: auto;
            // background-color: blue;
            a {
              display: flex;
              justify-content: center;

                img {
                  width: 40%;
                  object-fit: cover;
                  margin: 5px;

                    @media (max-width: 768px) {
                        width: 40%;
                    }

                    @media (max-width: 350px) {
                        width: 40%;


                    }
                }
            }
        }

        .livro {
          width: 20%;
          img {
            width: 50%;
          }
        }

    }


