<div class="container">
    <div class="logos">
        <a href="">
            <img src="../../assets/img/SOCIAL MEDIA ICONS-01.png" alt="" />
        </a>


        <a href="">
            <img src="../../assets/img/SOCIAL MEDIA ICONS-02.png" alt="" /></a>



        <a href="">
            <img src="../../assets/img/SOCIAL MEDIA ICONS-03.png" alt="" /></a>



    <a href="">
        <img src="../../assets/img/SOCIAL MEDIA ICONS-04.png" alt="" /></a>


    <a href="">
    <img src="../../assets/img/SOCIAL MEDIA ICONS-05.png" alt="" /></a>


    <a href="" target="_blank">
    <img src="/assets/img/livro_reclamacao.png" alt="livro de reclamacao" /></a>

   </div>

</div>
