      <nav #menu id="home">
        <div class="logo">
          <a href="">
            <img src="../../assets/img/logo_White.svg" alt="">
          </a>
        </div>        
          <ul>            
            <li><a href="#servicos">Serviços</a></li>
            <li><a href="#form">Orçamentos</a></li>
            <li><a href="#contactos">Contactos</a></li>
          </ul>
          <!-- <div class="img-bonecos">
            <img src="../../assets/img/bonecos-01.svg" alt="">
          </div> -->
          <div (click)="checkIsClicked()" class="hamburguer">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>            
            </div>
            <div class="menu2" [class.block]="isClicked" [ngStyle]="{'display':!isClicked ? 'none' : 'block'}">              
              <a href="#">Serviços</a>
              <a href="#form">Orçamentos</a>
              <a href="#contactos">Contactos</a>            
          </div>
      </nav>

