    nav {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        position: relative; 
        z-index: 50;       
        opacity: .8;
        background-color: #1B4CA1;
        box-shadow: 5px 5px 10px teal;
       
 

        @media (max-width:375px) {

            justify-content:flex-start;    

            .hamburguer {        
                width: 60px;
                height: 30%;                    
                display: flex;
                flex-flow: column wrap;
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                right: 20px;
                
               @media (max-width:768px){
                .hamburguer {   
                width: 200px;
                height: 30%;                    
                display: flex;
                flex-flow: column wrap;
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                right: 20px;
                }
               } 
        
                .line {
                    width: 70%;
                    height: auto;
                    border-bottom: 3px solid #fff;                    
                }       
        
            }          
        
            .menu2 {
                display: none;
                position: absolute;
                top: 150px;
                z-index: 10;
            }
        
            .block {
                display: block;
                width: 100%;
                
        
                a{
                    text-align: center;
                    text-decoration: none;
                    background-color: rgba(27, 76, 161, 1);
                    color: #fff;
                    font-weight: 400;
                    display: block;
                    padding: 20px;
                    border-bottom: 1px solid grey;
                    transition: all 1s ease-out;
        
                    &:hover {
                        background-color: rgba(9, 45, 107,.8);
                        color: white;
            
                    }
        
                }
            }
        }

            .logo {
                width: 20%;
                display: flex;
                align-items: center;
                margin-left: 50px;

                @media (max-width:768px) {
                    width: 50%;
                    display: flex;
                    align-items: center;        
                    z-index: 50;                   

                }


                    @media (max-width:375px) {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        margin-left: 50px;
                        position: absolute;
                        z-index: 50;

                            img {
                                width: 100%;
                                object-fit: cover;
                            }
                    }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        
        ul {
            display: flex;
            flex-flow: row;
            justify-content: center;
            margin-right: 20px; 

            @media (max-width:375px) {
                
                display: none;
            }

            @media (max-width:768px) {
                display: none;
            }
    
            li {
                
                list-style: none;
                padding: 20px;
                

                a {
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: #fff;

                    &:hover {
                        border-bottom: 5px solid #fff;
                        border-radius: 10%;
                        color: #fff;
                    }

                }

               
    
            }            
        }
        
        .hamburguer {
            display: none;

            .line {
                width: 70%;
                height: auto;
                border-bottom: 3px solid #fff;
                
            }
            
            .menu2 {
                display: none;
                position: absolute;
                top: 150px;
                z-index: 10;
            }
        
            .block {
                display: block;
                width: 100%;
                
        
                a{
                    text-align: center;
                    text-decoration: none;
                    background-color: rgba(27, 76, 161, 1);
                    color: #fff;
                    font-weight: 400;
                    display: block;
                    padding: 20px;
                    border-bottom: 1px solid grey;
                    transition: all 1s ease-out;
        
                    &:hover {
                        background-color: rgba(9, 45, 107,.8);
                        color: white;
            
                    }
        
                }
            }
    

            @media (max-width:375px) {
       
                    width: 60px;
                    height: 30%;                    
                    display: flex;
                    flex-flow: column wrap;
                    justify-content: space-evenly;
                    align-items: center;
                    position: absolute;
                    right: 20px;
            }
            @media (max-width:768px) {
                width: 60px;
                height: 30%;                    
                display: flex;
                flex-flow: column wrap;
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                right: 20px;
            }

        }

    }



    // .hamburguer:hover + .menu2{
    //     display: block;
    //     width: 100%;
        

    //     a{
    //         text-decoration: none;
    //         background-color: rgba(27, 76, 161, 0.5);
    //         color: #fff;
    //         font-weight: 400;
    //         display: block;
    //         padding: 20px;
    //         border-bottom: 1px solid grey;
    //         transition: all 1s ease-out;

    //         &:hover {
    //             background-color: rgba(27, 76, 161, 1);
    //             color: white;
    
    //         }

    //     }
    // }

    .sticky {
        position: fixed;
        opacity: 1;
    }