      <nav #menu id="home" [class.sticky]="isSticky">
        <div class="logo">
          <a href="">
            <img src="../../assets/img/logo_White.svg" alt="">
          </a>
        </div>

          <ul>
            <li><a routerLink="/servicos" routerLinkActive="active">Serviços</a></li>
            <li><a href="#form">Orçamentos</a></li>
            <li><a href="#equipa">A equipa</a></li>
            <li><a routerLink="/contatos" routerLinkActive="active">Contactos</a></li>
          </ul>

          <div (click)="checkIsClicked()" class="hamburguer">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>

          <div class="menu2" #menu2 [class.block]="isClicked">
            <a routerLink="/servicos" routerLinkActive="active">Serviços</a>
            <a href="#form">Orçamentos</a>
            <a href="/contatos">Contactos</a>
        </div>

      </nav>

