<section id="contactos" class="container">

  <div class="contactos-wrapper">
      <h1>Contatos</h1>
      <div class="wrapper">
          <img src="../../assets/work/phone.svg" alt="phone">
          <span class="text">239 404 913 / 912 216 062</span>
      </div>
      <div class="wrapper">

              <img src="../../assets/work/mail.svg" alt="">

          <a href ="mailto:geral@vistaslargas.pt"class="text">geral@vistaslargas.pt</a>
      </div>
      <div class="wrapper">

              <img src="../../assets/work/local.svg" alt="">

          <span class="text">
              Rua Bernardino Machado 41 <br>
              3030-299 Coimbra – Portugal
          </span>
      </div>
  </div>


</section>

<app-rodape></app-rodape>
