<main class="cards">    

    <article class="card">        
            <img src="../../assets/servicos/vinil_chao.jpg" alt="Sample photo">

      <div class="text">
        <h2>Seamlessly visualize quality</h2>
        <p>Collaboratively administrate empowered markets via plug-and-play networks.</p>
        <span>+Mais Info</span>
      </div>
    </article>
    <article class="card">

            <img src="../../assets/servicos/espelhado.jpg" alt="Sample photo">

      <div class="text">
        <h2>Completely Synergize</h2>
        <p>Dramatically engage seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing.</p>
        <span>+Mais Info</span>
      </div>
    </article>
    <article class="card">

            <img src="../../assets/servicos/dispensador.jpg" alt="Sample photo">
    
      <div class="text">
        <h2>Dynamically Procrastinate</h2>
        <p>Completely synergize resource taxing relationships via premier niche markets.</p>
        <span>+Mais Info</span>
      </div>
    </article>
    <article class="card">

            <img src="../../assets/servicos/corte e gravação Laser.jpg" alt="Sample photo">

      <div class="text">
        <h2>Best in class</h2>
        <p>Imagine jumping into that boat, and just letting it sail wherever the wind takes you...</p>
        <span>+Mais Info</span>
      </div>
    </article>
    <article class="card">

            <img src="../../assets/servicos/acrilico.jpg" alt="Sample photo">

      <div class="text">
        <h2>Dynamically innovate supply chains</h2>
        <p>Holisticly predominate extensible testing procedures for reliable supply chains.</p>
        <span>+Mais Info</span>
      </div>
    </article>
    <article class="card">
            <img src="../../assets/servicos/carro.jpg" alt="Sample photo">
      <div class="text">
        <h2>Sanity check</h2>
        <p>Objectively innovate empowered manufactured products whereas parallel platforms.</p>
        <span>+Mais Info</span>
      </div>
    </article>
  </main>