<section id="servicos" class="container">
  <div class="card-wrapper">
    <ng-container *ngFor="let item of categorias">
    <div class="card" >
      <div class="circle" >
        <img [src]="item.imgPath" [alt]="item.nome" />
      </div>
      <div class="text">
        <h4>
          {{ item.nome }}
        </h4>
        <p>
          {{ item.desc }}
        </p>
      </div>
      <span class="more">
        <a href="">+ Info</a>
      </span>
    </div>
  </ng-container>
  </div>

</section>
