
<form id="form" action="mailto:geral@vistaslargas.pt" method="post" autocomplete="on">
    <div class="container">
        <div class="title">
            <h1>Peça o seu orçamento</h1>

        </div>

        <div class="form-wrapper">
            <div class="left-info">
                <h5>A nossa Equipa Comercial está à espera do seu contacto. Diga-nos o que precisa… quanto mais detalhado for o seu briefing, menos tempo nos levará a calcular e mais precisa será a estimativa orçamental.</h5>

                <input type="text" name="name" placeholder="o seu nome" required />

                <input type="text" name="phone" placeholder="o seu telefone" required />

                <input type="text" name="mail" placeholder="o seu email" required />

                <button class="butt-send">Enviar</button>

            </div>

            <div class="right-info">
                <textarea placeholder="Tente descreber o melhor possível para sermos o mais precisos no orçamento" cols="65" rows="15" required></textarea>
            </div>
        </div>

    </div>

</form>
